.elementor-191 .elementor-element.elementor-element-4703e6d>.elementor-background-overlay {
    background-color: var(--e-global-color-secondary);
    opacity: .7;
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-191 .elementor-element.elementor-element-4703e6d {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 105px 0 110px
}

.elementor-191 .elementor-element.elementor-element-015c253>.elementor-element-populated {
    padding: 0 15px
}

.elementor-191 .elementor-element.elementor-element-f5054e1 .gsc-heading .content-inner {
    max-width: 1000px
}

.elementor-191 .elementor-element.elementor-element-f5054e1 .gsc-heading {
    margin-bottom: 0
}

.elementor-191 .elementor-element.elementor-element-f5054e1 .gsc-heading .title {
    color: #fff;
    font-size: 50px;
    margin-bottom: 0
}

.elementor-191 .elementor-element.elementor-element-f5054e1 .gsc-heading .sub-title {
    margin-bottom: 8px
}

.elementor-191 .elementor-element.elementor-element-f5054e1 .gsc-heading .title-desc {
    color: #fff;
    font-size: 20px;
    padding: 10px 0 0
}

.elementor-191 .elementor-element.elementor-element-d0d5d53 {
    padding: 50px 0 0
}

.elementor-191 .elementor-element.elementor-element-087fda3>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0
}

.elementor-191 .elementor-element.elementor-element-087fda3>.elementor-element-populated {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 0 15px
}

.elementor-191 .elementor-element.elementor-element-087fda3>.elementor-element-populated>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-191 .elementor-element.elementor-element-5ebc093:not(.elementor-motion-effects-element-type-background),
.elementor-191 .elementor-element.elementor-element-5ebc093>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../../uploads/2023/01/image-17.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover
}

.elementor-191 .elementor-element.elementor-element-5ebc093>.elementor-background-overlay {
    opacity: .9;
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-191 .elementor-element.elementor-element-5ebc093 {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    margin-top: 0;
    margin-bottom: 30px;
    padding: 180px 0 0
}

.elementor-191 .elementor-element.elementor-element-f147c0c>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 4px
}

.elementor-191 .elementor-element.elementor-element-f147c0c:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-191 .elementor-element.elementor-element-f147c0c>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../../uploads/2023/12/bg-14.png");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover
}

.elementor-191 .elementor-element.elementor-element-f147c0c>.elementor-element-populated {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 0
}

.elementor-191 .elementor-element.elementor-element-f147c0c>.elementor-element-populated>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-191 .elementor-element.elementor-element-19aa5b6.elementor-view-stacked .elementor-icon {
    background-color: #fff;
    fill: var(--e-global-color-primary);
    color: var(--e-global-color-primary)
}

.elementor-191 .elementor-element.elementor-element-19aa5b6.elementor-view-framed .elementor-icon,
.elementor-191 .elementor-element.elementor-element-19aa5b6.elementor-view-default .elementor-icon {
    fill: #fff;
    color: #fff;
    border-color: #fff
}

.elementor-191 .elementor-element.elementor-element-19aa5b6.elementor-view-framed .elementor-icon {
    background-color: var(--e-global-color-primary)
}

.elementor-191 .elementor-element.elementor-element-19aa5b6 {
    --icon-box-icon-margin: 20px
}

.elementor-191 .elementor-element.elementor-element-19aa5b6 .elementor-icon {
    font-size: 40px;
    padding: 15px
}

.elementor-191 .elementor-element.elementor-element-19aa5b6 .elementor-icon-box-title {
    margin-bottom: 12px;
    color: #fff
}

.elementor-191 .elementor-element.elementor-element-19aa5b6 .elementor-icon-box-title,
.elementor-191 .elementor-element.elementor-element-19aa5b6 .elementor-icon-box-title a {
    font-size: 16px;
    letter-spacing: -.48px
}

.elementor-191 .elementor-element.elementor-element-19aa5b6 .elementor-icon-box-description {
    color: #fff;
    font-family: "Titillium Web", Sans-serif;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: -.9px
}

.elementor-191 .elementor-element.elementor-element-19aa5b6>.elementor-widget-container {
    padding: 0 15px 50px;
    border-style: none
}

.elementor-191 .elementor-element.elementor-element-c8f5989.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-primary);
    fill: #fff;
    color: #fff
}

.elementor-191 .elementor-element.elementor-element-c8f5989.elementor-view-framed .elementor-icon,
.elementor-191 .elementor-element.elementor-element-c8f5989.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-primary);
    color: var(--e-global-color-primary);
    border-color: var(--e-global-color-primary)
}

.elementor-191 .elementor-element.elementor-element-c8f5989.elementor-view-framed .elementor-icon {
    background-color: #fff
}

.elementor-191 .elementor-element.elementor-element-c8f5989 {
    --icon-box-icon-margin: 30px
}

.elementor-191 .elementor-element.elementor-element-c8f5989 .elementor-icon {
    font-size: 20px;
    padding: 20px
}

.elementor-191 .elementor-element.elementor-element-c8f5989 .elementor-icon-box-title,
.elementor-191 .elementor-element.elementor-element-c8f5989 .elementor-icon-box-title a {
    font-size: 18px
}

.elementor-191 .elementor-element.elementor-element-c8f5989>.elementor-widget-container {
    margin: 0 0 20px;
    background-color: #f4f4f4
}

.elementor-191 .elementor-element.elementor-element-87d7027.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-primary);
    fill: #fff;
    color: #fff
}

.elementor-191 .elementor-element.elementor-element-87d7027.elementor-view-framed .elementor-icon,
.elementor-191 .elementor-element.elementor-element-87d7027.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-primary);
    color: var(--e-global-color-primary);
    border-color: var(--e-global-color-primary)
}

.elementor-191 .elementor-element.elementor-element-87d7027.elementor-view-framed .elementor-icon {
    background-color: #fff
}

.elementor-191 .elementor-element.elementor-element-87d7027 {
    --icon-box-icon-margin: 30px
}

.elementor-191 .elementor-element.elementor-element-87d7027 .elementor-icon {
    font-size: 20px;
    padding: 20px
}

.elementor-191 .elementor-element.elementor-element-87d7027 .elementor-icon-box-title,
.elementor-191 .elementor-element.elementor-element-87d7027 .elementor-icon-box-title a {
    font-size: 18px
}

.elementor-191 .elementor-element.elementor-element-87d7027>.elementor-widget-container {
    margin: 0 0 20px;
    background-color: #f4f4f4
}

.elementor-191 .elementor-element.elementor-element-123ea89>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0
}

.elementor-191 .elementor-element.elementor-element-123ea89>.elementor-element-populated {
    padding: 0 15px 20px
}

.elementor-191 .elementor-element.elementor-element-ca189f2 .swiper-slider-wrapper .swiper-pagination {
    margin-top: 0
}

.elementor-191 .elementor-element.elementor-element-ca189f2>.elementor-widget-container {
    border-radius: 10px
}

.elementor-191 .elementor-element.elementor-element-6cef601 .elementor-heading-title {
    font-size: 32px
}

.elementor-191 .elementor-element.elementor-element-6cef601>.elementor-widget-container {
    padding: 10px 0 20px
}

.elementor-191 .elementor-element.elementor-element-d4f38fb {
    color: var(--e-global-color-accent);
    font-weight: 600
}

.elementor-191 .elementor-element.elementor-element-32249f0 .elementor-heading-title {
    color: var(--e-global-color-primary);
    font-size: 24px
}

.elementor-191 .elementor-element.elementor-element-32249f0>.elementor-widget-container {
    padding: 15px 0 22px
}

.elementor-191 .elementor-element.elementor-element-0f7c138:not(.elementor-motion-effects-element-type-background),
.elementor-191 .elementor-element.elementor-element-0f7c138>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #f4f4f4
}

.elementor-191 .elementor-element.elementor-element-0f7c138 {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s
}

.elementor-191 .elementor-element.elementor-element-0f7c138>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-191 .elementor-element.elementor-element-d895397>.elementor-element-populated {
    padding: 40px
}

.elementor-191 .elementor-element.elementor-element-369d65a .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(15px/2)
}

.elementor-191 .elementor-element.elementor-element-369d65a .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(15px/2)
}

.elementor-191 .elementor-element.elementor-element-369d65a .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(15px/2);
    margin-left: calc(15px/2)
}

.elementor-191 .elementor-element.elementor-element-369d65a .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-15px/2);
    margin-left: calc(-15px/2)
}

body.rtl .elementor-191 .elementor-element.elementor-element-369d65a .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-15px/2)
}

body:not(.rtl) .elementor-191 .elementor-element.elementor-element-369d65a .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-15px/2)
}

.elementor-191 .elementor-element.elementor-element-369d65a .elementor-icon-list-icon i {
    transition: color .3s
}

.elementor-191 .elementor-element.elementor-element-369d65a .elementor-icon-list-icon svg {
    transition: fill .3s
}

.elementor-191 .elementor-element.elementor-element-369d65a {
    --e-icon-list-icon-size: 16px;
    --icon-vertical-offset: 0px
}

.elementor-191 .elementor-element.elementor-element-369d65a .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-191 .elementor-element.elementor-element-369d65a .elementor-icon-list-item>a {
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize
}

.elementor-191 .elementor-element.elementor-element-369d65a .elementor-icon-list-text {
    color: var(--e-global-color-accent);
    transition: color .3s
}

.elementor-191 .elementor-element.elementor-element-369d65a>.elementor-widget-container {
    padding: 0 15px 0 0
}

.elementor-191 .elementor-element.elementor-element-f7acd42:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-191 .elementor-element.elementor-element-f7acd42>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../../uploads/2023/12/image-16.png");
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: cover
}

.elementor-191 .elementor-element.elementor-element-f7acd42>.elementor-element-populated {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s
}

.elementor-191 .elementor-element.elementor-element-f7acd42>.elementor-element-populated>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-191 .elementor-element.elementor-element-669bbf9 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 25px 0
}

.elementor-191 .elementor-element.elementor-element-3c38e28>.elementor-element-populated {
    padding: 0 15px
}

.elementor-191 .elementor-element.elementor-element-66f0c9c .swiper-slider-wrapper .swiper-pagination {
    margin-top: 0
}

.elementor-191 .elementor-element.elementor-element-66f0c9c .gsc-icon-box-group .icon-box-content .box-icon i {
    font-size: 60px
}

.elementor-191 .elementor-element.elementor-element-66f0c9c .gsc-icon-box-group .icon-box-content .box-icon svg {
    width: 60px
}

.elementor-191 .elementor-element.elementor-element-66f0c9c .gsc-icon-box-group.style-2 .icon-box-item .icon-box-content .box-icon i {
    width: 60px
}

.elementor-191 .elementor-element.elementor-element-66f0c9c .gsc-icon-box-group .icon-box-content .icon-inner {
    padding-bottom: 0
}

.elementor-191 .elementor-element.elementor-element-66f0c9c .gsc-icon-box-group .icon-box-content .title {
    padding-bottom: 5px
}

.elementor-191 .elementor-element.elementor-element-3dd34b7 {
    padding: 0
}

.elementor-bc-flex-widget .elementor-191 .elementor-element.elementor-element-23d8b7f.elementor-column .elementor-widget-wrap {
    align-items: center
}

.elementor-191 .elementor-element.elementor-element-23d8b7f.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center
}

.elementor-191 .elementor-element.elementor-element-23d8b7f:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-191 .elementor-element.elementor-element-23d8b7f>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../../uploads/2023/01/image-15.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover
}

.elementor-191 .elementor-element.elementor-element-23d8b7f>.elementor-element-populated {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    margin: 0 15px;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 15px;
    padding: 0
}

.elementor-191 .elementor-element.elementor-element-23d8b7f>.elementor-element-populated>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-191 .elementor-element.elementor-element-8170973 {
    --spacer-size: 220px
}

.elementor-191 .elementor-element.elementor-element-0ae05b5>.elementor-element-populated {
    padding: 0 15px
}

.elementor-191 .elementor-element.elementor-element-517665b .gsc-circle-progress .title {
    font-weight: 700
}

.elementor-191 .elementor-element.elementor-element-a669d7f {
    --spacer-size: 1px
}

.elementor-191 .elementor-element.elementor-element-a669d7f>.elementor-widget-container {
    margin: 0 20% 4%;
    background-color: #c9d5db
}

.elementor-191 .elementor-element.elementor-element-1d4ca1d .gsc-circle-progress .title {
    color: var(--e-global-color-secondary);
    font-weight: 700
}

.elementor-191 .elementor-element.elementor-element-565b3dd>.elementor-element-populated {
    padding: 0 15px
}

.elementor-191 .elementor-element.elementor-element-8abfbe0 {
    padding: 50px 0
}

.elementor-191 .elementor-element.elementor-element-fb88584.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end
}

.elementor-191 .elementor-element.elementor-element-fb88584:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-191 .elementor-element.elementor-element-fb88584>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../../uploads/2022/12/bg-04.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover
}

.elementor-191 .elementor-element.elementor-element-fb88584>.elementor-element-populated {
    border-style: none;
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    margin: 0 15px;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 15px;
    padding: 60px
}

.elementor-191 .elementor-element.elementor-element-fb88584>.elementor-element-populated>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-191 .elementor-element.elementor-element-1c9034d .icon-box-style-one__single,
.elementor-191 .elementor-element.elementor-element-1c9034d .icon-box-style-two__single {
    padding: 0
}

.elementor-191 .elementor-element.elementor-element-1c9034d .icon-box-style-one__icon,
.elementor-191 .elementor-element.elementor-element-1c9034d .icon-box-style-two__icon {
    margin-right: 70px
}

.elementor-191 .elementor-element.elementor-element-1c9034d .icon-box-style-one__single .icon-box-style-one__title,
.elementor-191 .elementor-element.elementor-element-1c9034d .icon-box-style-two__single .icon-box-style-two__title {
    color: #fff
}

.elementor-191 .elementor-element.elementor-element-1c9034d .icon-box-style-one__single .icon-box-style-one__title a,
.elementor-191 .elementor-element.elementor-element-1c9034d .icon-box-style-two__single .icon-box-style-two__title a {
    color: #fff
}

.elementor-191 .elementor-element.elementor-element-1c9034d .icon-box-style-one__desc,
.elementor-191 .elementor-element.elementor-element-1c9034d .icon-box-style-one__desc a,
.elementor-191 .elementor-element.elementor-element-1c9034d .icon-box-style-two__desc,
.elementor-191 .elementor-element.elementor-element-1c9034d .icon-box-style-two__desc a {
    color: #fff
}

.elementor-191 .elementor-element.elementor-element-1c9034d {
    width: auto;
    max-width: auto
}

.elementor-191 .elementor-element.elementor-element-e20a2da:not(.elementor-motion-effects-element-type-background),
.elementor-191 .elementor-element.elementor-element-e20a2da>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../../uploads/2023/12/bg-contact.jpg");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover
}

.elementor-191 .elementor-element.elementor-element-e20a2da>.elementor-background-overlay {
    background-image: url("../../../uploads/2023/12/bg-10-overlay.png");
    background-position: bottom left;
    background-repeat: no-repeat;
    opacity: 1;
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-191 .elementor-element.elementor-element-e20a2da {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    padding: 120px 0
}

.elementor-191 .elementor-element.elementor-element-8b863cc:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-191 .elementor-element.elementor-element-8b863cc>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #fff
}

.elementor-191 .elementor-element.elementor-element-8b863cc>.elementor-element-populated {
    transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
    margin: 0 45px 0 15px;
    --e-column-margin-right: 45px;
    --e-column-margin-left: 15px;
    padding: 60px
}

.elementor-191 .elementor-element.elementor-element-8b863cc>.elementor-element-populated>.elementor-background-overlay {
    transition: background .3s, border-radius .3s, opacity .3s
}

.elementor-bc-flex-widget .elementor-191 .elementor-element.elementor-element-d2e93b3.elementor-column .elementor-widget-wrap {
    align-items: center
}

.elementor-191 .elementor-element.elementor-element-d2e93b3.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center
}

.elementor-191 .elementor-element.elementor-element-d2e93b3>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0
}

.elementor-191 .elementor-element.elementor-element-d2e93b3>.elementor-element-populated {
    padding: 0 15px
}

.elementor-191 .elementor-element.elementor-element-293ba27 .gsc-heading .content-inner {
    max-width: 800px
}

.elementor-191 .elementor-element.elementor-element-293ba27 .gsc-heading {
    margin-bottom: 20px
}

.elementor-191 .elementor-element.elementor-element-293ba27 .gsc-heading .title {
    margin-bottom: 10px
}

.elementor-191 .elementor-element.elementor-element-293ba27 .gsc-heading .sub-title {
    margin-bottom: 8px
}

.elementor-191 .elementor-element.elementor-element-293ba27 .gsc-heading .title-desc {
    padding: 10px 0 0
}

.elementor-191 .elementor-element.elementor-element-47e28b7 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(10px/2)
}

.elementor-191 .elementor-element.elementor-element-47e28b7 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(10px/2)
}

.elementor-191 .elementor-element.elementor-element-47e28b7 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(10px/2);
    margin-left: calc(10px/2)
}

.elementor-191 .elementor-element.elementor-element-47e28b7 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-10px/2);
    margin-left: calc(-10px/2)
}

body.rtl .elementor-191 .elementor-element.elementor-element-47e28b7 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-10px/2)
}

body:not(.rtl) .elementor-191 .elementor-element.elementor-element-47e28b7 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-10px/2)
}

.elementor-191 .elementor-element.elementor-element-47e28b7 .elementor-icon-list-icon i {
    transition: color .3s
}

.elementor-191 .elementor-element.elementor-element-47e28b7 .elementor-icon-list-icon svg {
    transition: fill .3s
}

.elementor-191 .elementor-element.elementor-element-47e28b7 {
    --e-icon-list-icon-size: 14px;
    --icon-vertical-offset: 0px
}

.elementor-191 .elementor-element.elementor-element-47e28b7 .elementor-icon-list-item>.elementor-icon-list-text,
.elementor-191 .elementor-element.elementor-element-47e28b7 .elementor-icon-list-item>a {
    font-weight: 700
}

.elementor-191 .elementor-element.elementor-element-47e28b7 .elementor-icon-list-text {
    transition: color .3s
}

.elementor-191 .elementor-element.elementor-element-47e28b7>.elementor-widget-container {
    margin: 0 0 30px
}

.elementor-191 .elementor-element.elementor-element-f279833.elementor-position-right .elementor-image-box-img {
    margin-left: 20px
}

.elementor-191 .elementor-element.elementor-element-f279833.elementor-position-left .elementor-image-box-img {
    margin-right: 20px
}

.elementor-191 .elementor-element.elementor-element-f279833.elementor-position-top .elementor-image-box-img {
    margin-bottom: 20px
}

.elementor-191 .elementor-element.elementor-element-f279833 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 20%
}

.elementor-191 .elementor-element.elementor-element-f279833 .elementor-image-box-img img {
    border-radius: 50%;
    transition-duration: .3s
}

.elementor-191 .elementor-element.elementor-element-f279833 .elementor-image-box-title {
    margin-bottom: 3px;
    color: var(--e-global-color-text);
    font-size: 16px
}

.elementor-191 .elementor-element.elementor-element-f279833 .elementor-image-box-description {
    color: var(--e-global-color-secondary);
    font-family: "Titillium Web", Sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase
}

.elementor-191 .elementor-element.elementor-element-f279833>.elementor-widget-container {
    padding: 30px;
    background-color: #fff;
    border-style: solid;
    border-width: 0 0 0 6px;
    border-color: var(--e-global-color-primary)
}

.elementor-191 .elementor-element.elementor-element-c97bae7.elementor-position-right .elementor-image-box-img {
    margin-left: 10px
}

.elementor-191 .elementor-element.elementor-element-c97bae7.elementor-position-left .elementor-image-box-img {
    margin-right: 10px
}

.elementor-191 .elementor-element.elementor-element-c97bae7.elementor-position-top .elementor-image-box-img {
    margin-bottom: 10px
}

.elementor-191 .elementor-element.elementor-element-c97bae7 .elementor-image-box-wrapper .elementor-image-box-img {
    width: 100%
}

.elementor-191 .elementor-element.elementor-element-c97bae7 .elementor-image-box-img img {
    transition-duration: .3s
}

.elementor-191 .elementor-element.elementor-element-c97bae7 .elementor-image-box-title {
    margin-bottom: 0;
    color: var(--e-global-color-text);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: -.3px
}

.elementor-191 .elementor-element.elementor-element-c97bae7>.elementor-widget-container {
    margin: 40px 0 0
}

.elementor-191 .elementor-element.elementor-element-c97bae7 {
    width: auto;
    max-width: auto
}

@media(max-width:1024px) {
    .elementor-191 .elementor-element.elementor-element-4703e6d {
        padding: 65px 0 70px
    }

    .elementor-191 .elementor-element.elementor-element-f5054e1 .gsc-heading .title {
        font-size: 50px
    }

    .elementor-191 .elementor-element.elementor-element-f5054e1 .gsc-heading .title-desc {
        font-size: 18px;
        line-height: 28px;
        padding: 0
    }

    .elementor-191 .elementor-element.elementor-element-5ebc093 {
        padding: 40px 10px
    }

    .elementor-191 .elementor-element.elementor-element-f147c0c>.elementor-element-populated {
        padding: 0
    }

    .elementor-191 .elementor-element.elementor-element-19aa5b6 .elementor-icon-box-title,
    .elementor-191 .elementor-element.elementor-element-19aa5b6 .elementor-icon-box-title a {
        font-size: 24px
    }

    .elementor-191 .elementor-element.elementor-element-19aa5b6 .elementor-icon-box-description {
        font-size: 16px
    }

    .elementor-191 .elementor-element.elementor-element-669bbf9 {
        padding: 35px 0 40px
    }

    .elementor-191 .elementor-element.elementor-element-fb88584>.elementor-element-populated {
        padding: 50px 15px
    }

    .elementor-191 .elementor-element.elementor-element-1c9034d .icon-box-style-one__icon,
    .elementor-191 .elementor-element.elementor-element-1c9034d .icon-box-style-two__icon {
        margin-right: 50px
    }

    .elementor-191 .elementor-element.elementor-element-e20a2da {
        padding: 80px 0
    }

    .elementor-bc-flex-widget .elementor-191 .elementor-element.elementor-element-8b863cc.elementor-column .elementor-widget-wrap {
        align-items: center
    }

    .elementor-191 .elementor-element.elementor-element-8b863cc.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
        align-content: center;
        align-items: center
    }

    .elementor-191 .elementor-element.elementor-element-8b863cc>.elementor-element-populated {
        margin: 0 15px;
        --e-column-margin-right: 15px;
        --e-column-margin-left: 15px;
        padding: 30px
    }

    .elementor-191 .elementor-element.elementor-element-293ba27 .gsc-heading .title-desc {
        padding: 10px 0 0
    }

    .elementor-191 .elementor-element.elementor-element-47e28b7 .elementor-icon-list-item>.elementor-icon-list-text,
    .elementor-191 .elementor-element.elementor-element-47e28b7 .elementor-icon-list-item>a {
        line-height: 20px
    }

    .elementor-191 .elementor-element.elementor-element-f279833 .elementor-image-box-wrapper .elementor-image-box-img {
        width: 40%
    }

    .elementor-191 .elementor-element.elementor-element-c97bae7>.elementor-widget-container {
        margin: 30px 0 0
    }
}

@media(max-width:767px) {
    .elementor-191 .elementor-element.elementor-element-f5054e1 .gsc-heading .title {
        font-size: 30px;
        margin-bottom: 10px
    }

    .elementor-191 .elementor-element.elementor-element-123ea89>.elementor-element-populated {
        margin: 60px 0 0;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px
    }

    .elementor-191 .elementor-element.elementor-element-669bbf9 {
        padding: 20px 0
    }

    .elementor-191 .elementor-element.elementor-element-0ae05b5>.elementor-element-populated {
        margin: 30px 0 0;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px
    }

    .elementor-191 .elementor-element.elementor-element-565b3dd>.elementor-element-populated {
        margin: 30px 0 0;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px
    }

    .elementor-191 .elementor-element.elementor-element-1c9034d .icon-box-style-one__icon,
    .elementor-191 .elementor-element.elementor-element-1c9034d .icon-box-style-two__icon {
        margin-right: 15px
    }

    .elementor-191 .elementor-element.elementor-element-e20a2da>.elementor-background-overlay {
        opacity: .2
    }

    .elementor-191 .elementor-element.elementor-element-d2e93b3>.elementor-element-populated {
        margin: 30px 0 0;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px
    }

    .elementor-191 .elementor-element.elementor-element-f279833 .elementor-image-box-img {
        margin-bottom: 20px
    }

    .elementor-191 .elementor-element.elementor-element-c97bae7 .elementor-image-box-img {
        margin-bottom: 10px
    }

    .elementor-191 .elementor-element.elementor-element-c97bae7>.elementor-widget-container {
        margin: 30px 0 0
    }
}

@media(min-width:768px) {
    .elementor-191 .elementor-element.elementor-element-087fda3 {
        width: 33%
    }

    .elementor-191 .elementor-element.elementor-element-123ea89 {
        width: 67%
    }

    .elementor-191 .elementor-element.elementor-element-23d8b7f {
        width: 30%
    }

    .elementor-191 .elementor-element.elementor-element-0ae05b5 {
        width: 21.415%
    }

    .elementor-191 .elementor-element.elementor-element-565b3dd {
        width: 47.917%
    }

    .elementor-191 .elementor-element.elementor-element-8b863cc {
        width: 60%
    }

    .elementor-191 .elementor-element.elementor-element-d2e93b3 {
        width: 40%
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-191 .elementor-element.elementor-element-8b863cc {
        width: 50%
    }
}