.elementor-37
  .elementor-element.elementor-element-67152ff
  > .elementor-background-overlay {
  background-color: var(--e-global-color-secondary);
  opacity: 0.7;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-37 .elementor-element.elementor-element-67152ff {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 105px 0 225px;
}
.elementor-37
  .elementor-element.elementor-element-108d99c
  > .elementor-element-populated {
  padding: 0 15px;
}
.elementor-37
  .elementor-element.elementor-element-07bec2e
  .gsc-heading
  .content-inner {
  max-width: 1000px;
}
.elementor-37 .elementor-element.elementor-element-07bec2e .gsc-heading {
  margin-bottom: 0;
}
.elementor-37 .elementor-element.elementor-element-07bec2e .gsc-heading .title {
  color: #fff;
  font-size: 52px;
  margin-bottom: 0;
}
.elementor-37
  .elementor-element.elementor-element-07bec2e
  .gsc-heading
  .sub-title {
  margin-bottom: 8px;
}
.elementor-37
  .elementor-element.elementor-element-07bec2e
  .gsc-heading
  .title-desc {
  color: #fff;
  font-size: 22px;
  padding: 10px 0 0;
}
.elementor-37 .elementor-element.elementor-element-dd07740 {
  margin-top: -120px;
  margin-bottom: 0;
  padding: 0 0 80px;
}
.elementor-37
  .elementor-element.elementor-element-1e099e8
  > .elementor-element-populated {
  padding: 0 15px;
}
.elementor-37
  .elementor-element.elementor-element-32a7e7a
  .swiper-slider-wrapper
  .swiper-pagination {
  margin-top: 0;
}
.elementor-37
  .elementor-element.elementor-element-32a7e7a
  .gsc-icon-box-group
  .icon-box-content
  .box-icon
  i {
  font-size: 60px;
}
.elementor-37
  .elementor-element.elementor-element-32a7e7a
  .gsc-icon-box-group
  .icon-box-content
  .box-icon
  svg {
  width: 60px;
}
.elementor-37
  .elementor-element.elementor-element-32a7e7a
  .gsc-icon-box-group.style-2
  .icon-box-item
  .icon-box-content
  .box-icon
  i {
  width: 60px;
}
.elementor-37
  .elementor-element.elementor-element-32a7e7a
  .gsc-icon-box-group
  .icon-box-content
  .icon-inner {
  padding-bottom: 0;
}
.elementor-37
  .elementor-element.elementor-element-32a7e7a
  .gsc-icon-box-group
  .icon-box-content
  .title {
  padding-bottom: 5px;
}
.elementor-37
  .elementor-element.elementor-element-697956a
  > .elementor-element-populated {
  padding: 0 15px;
}
.elementor-37
  .elementor-element.elementor-element-5c59828
  .gsc-heading
  .content-inner {
  max-width: 680px;
}
.elementor-37 .elementor-element.elementor-element-5c59828 .gsc-heading {
  margin-bottom: 20px;
}
.elementor-37 .elementor-element.elementor-element-5c59828 .gsc-heading .title {
  margin-bottom: 0;
}
.elementor-37
  .elementor-element.elementor-element-5c59828
  .gsc-heading
  .sub-title {
  margin-bottom: 8px;
}
.elementor-37
  .elementor-element.elementor-element-5c59828
  .gsc-heading
  .title-desc {
  padding: 20px 0 0;
}
.elementor-37 .elementor-element.elementor-element-c6640ea {
  padding: 90px 0 120px;
}
.elementor-bc-flex-widget
  .elementor-37
  .elementor-element.elementor-element-e0f5378.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-37
  .elementor-element.elementor-element-e0f5378.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-37
  .elementor-element.elementor-element-e0f5378:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-widget-wrap,
.elementor-37
  .elementor-element.elementor-element-e0f5378
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../../../uploads/2023/01/image-18.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-37
  .elementor-element.elementor-element-e0f5378
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0 0 0 15px;
  --e-column-margin-right: 0px;
  --e-column-margin-left: 15px;
  padding: 0 15px;
}
.elementor-37
  .elementor-element.elementor-element-e0f5378
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-37 .elementor-element.elementor-element-c609c09 {
  --spacer-size: 350px;
}
.elementor-37
  .elementor-element.elementor-element-919ea17:not(
    .elementor-motion-effects-element-type-background
  )
  > .elementor-widget-wrap,
.elementor-37
  .elementor-element.elementor-element-919ea17
  > .elementor-widget-wrap
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-primary);
}
.elementor-37
  .elementor-element.elementor-element-919ea17
  > .elementor-element-populated
  > .elementor-background-overlay {
  opacity: 1;
}
.elementor-37
  .elementor-element.elementor-element-919ea17
  > .elementor-element-populated {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin: 0 15px 0 0;
  --e-column-margin-right: 15px;
  --e-column-margin-left: 0px;
  padding: 55px 60px 60px;
}
.elementor-37
  .elementor-element.elementor-element-919ea17
  > .elementor-element-populated
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-37 .elementor-element.elementor-element-6bcafc7 {
  text-align: left;
}
.elementor-37
  .elementor-element.elementor-element-6bcafc7
  .elementor-heading-title {
  color: #fff;
  font-size: 45px;
}
.elementor-37 .elementor-element.elementor-element-dc73997 {
  color: #fff;
  font-weight: 500;
}
.elementor-37
  .elementor-element.elementor-element-dc73997
  > .elementor-widget-container {
  margin: 20px 0 0;
}
.elementor-37
  .elementor-element.elementor-element-ba27150
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(8px / 2);
}
.elementor-37
  .elementor-element.elementor-element-ba27150
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(8px / 2);
}
.elementor-37
  .elementor-element.elementor-element-ba27150
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item {
  margin-right: calc(8px / 2);
  margin-left: calc(8px / 2);
}
.elementor-37
  .elementor-element.elementor-element-ba27150
  .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-8px / 2);
  margin-left: calc(-8px / 2);
}
body.rtl
  .elementor-37
  .elementor-element.elementor-element-ba27150
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  left: calc(-8px / 2);
}
body:not(.rtl)
  .elementor-37
  .elementor-element.elementor-element-ba27150
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  right: calc(-8px / 2);
}
.elementor-37
  .elementor-element.elementor-element-ba27150
  .elementor-icon-list-icon
  i {
  color: #fff;
  transition: color 0.3s;
}
.elementor-37
  .elementor-element.elementor-element-ba27150
  .elementor-icon-list-icon
  svg {
  fill: #fff;
  transition: fill 0.3s;
}
.elementor-37 .elementor-element.elementor-element-ba27150 {
  --e-icon-list-icon-size: 14px;
  --icon-vertical-offset: 0px;
}
.elementor-37
  .elementor-element.elementor-element-ba27150
  .elementor-icon-list-item
  > .elementor-icon-list-text,
.elementor-37
  .elementor-element.elementor-element-ba27150
  .elementor-icon-list-item
  > a {
  font-size: 16px;
  font-weight: 600;
}
.elementor-37
  .elementor-element.elementor-element-ba27150
  .elementor-icon-list-text {
  color: #fff;
  transition: color 0.3s;
}
@media (min-width: 768px) {
  .elementor-37 .elementor-element.elementor-element-e0f5378 {
    width: 50%;
  }
  .elementor-37 .elementor-element.elementor-element-919ea17 {
    width: 50%;
  }
}
@media (max-width: 1024px) {
  .elementor-37 .elementor-element.elementor-element-67152ff {
    padding: 65px 0 185px;
  }
  .elementor-37
    .elementor-element.elementor-element-07bec2e
    .gsc-heading
    .title {
    font-size: 50px;
  }
  .elementor-37
    .elementor-element.elementor-element-07bec2e
    .gsc-heading
    .title-desc {
    font-size: 18px;
    line-height: 28px;
    padding: 0;
  }
  .elementor-37 .elementor-element.elementor-element-dd07740 {
    padding: 0 0 40px;
  }
  .elementor-37 .elementor-element.elementor-element-c6640ea {
    padding: 50px 0 80px;
  }
  .elementor-37
    .elementor-element.elementor-element-919ea17
    > .elementor-element-populated {
    padding: 45px 15px 50px;
  }
  .elementor-37
    .elementor-element.elementor-element-6bcafc7
    .elementor-heading-title {
    font-size: 36px;
  }
  .elementor-37
    .elementor-element.elementor-element-dc73997
    > .elementor-widget-container {
    margin: 10px 0 0;
  }
}
@media (max-width: 767px) {
  .elementor-37
    .elementor-element.elementor-element-07bec2e
    .gsc-heading
    .title {
    font-size: 30px;
    margin-bottom: 10px;
  }
  .elementor-37 .elementor-element.elementor-element-dd07740 {
    padding: 20px 0;
  }
  .elementor-37
    .elementor-element.elementor-element-e0f5378
    > .elementor-element-populated,
  .elementor-37
    .elementor-element.elementor-element-e0f5378
    > .elementor-element-populated
    > .elementor-background-overlay,
  .elementor-37
    .elementor-element.elementor-element-e0f5378
    > .elementor-background-slideshow {
    border-radius: 10px 10px 0 0;
  }
  .elementor-37
    .elementor-element.elementor-element-e0f5378
    > .elementor-element-populated {
    margin: 0 15px;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 15px;
  }
  .elementor-37
    .elementor-element.elementor-element-919ea17
    > .elementor-element-populated,
  .elementor-37
    .elementor-element.elementor-element-919ea17
    > .elementor-element-populated
    > .elementor-background-overlay,
  .elementor-37
    .elementor-element.elementor-element-919ea17
    > .elementor-background-slideshow {
    border-radius: 0 0 10px 10px;
  }
  .elementor-37
    .elementor-element.elementor-element-919ea17
    > .elementor-element-populated {
    margin: 0 15px;
    --e-column-margin-right: 15px;
    --e-column-margin-left: 15px;
  }
}
