.elementor-33 .elementor-element.elementor-element-2fee724>.elementor-background-overlay {
    background-color: var(--e-global-color-secondary);
    opacity: 0.7;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-33 .elementor-element.elementor-element-2fee724 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 106px 0 220px;
}

.elementor-33 .elementor-element.elementor-element-c7f3372>.elementor-element-populated {
    padding: 0 15px;
}

.elementor-33 .elementor-element.elementor-element-26c2dc9 .gsc-heading .content-inner {
    max-width: 1000px;
}

.elementor-33 .elementor-element.elementor-element-26c2dc9 .gsc-heading {
    margin-bottom: 0;
}

.elementor-33 .elementor-element.elementor-element-26c2dc9 .gsc-heading .title {
    color: #fff;
    font-size: 52px;
    margin-bottom: 0;
}

.elementor-33 .elementor-element.elementor-element-26c2dc9 .gsc-heading .sub-title {
    margin-bottom: 8px;
}

.elementor-33 .elementor-element.elementor-element-26c2dc9 .gsc-heading .title-desc {
    color: #fff;
    font-size: 22px;
    padding: 10px 0 0;
}

.elementor-33 .elementor-element.elementor-element-93d9c71 {
    margin-top: -120px;
    margin-bottom: 0;
    padding: 0;
}

.elementor-33 .elementor-element.elementor-element-e5e5fac>.elementor-element-populated {
    padding: 0 15px;
}

.elementor-33 .elementor-element.elementor-element-f9fde13 .swiper-slider-wrapper .swiper-pagination {
    margin-top: 0;
}

.elementor-33 .elementor-element.elementor-element-f9fde13 .gsc-icon-box-group .icon-box-content .box-icon i {
    font-size: 60px;
}

.elementor-33 .elementor-element.elementor-element-f9fde13 .gsc-icon-box-group .icon-box-content .box-icon svg {
    width: 60px;
}

.elementor-33 .elementor-element.elementor-element-f9fde13 .gsc-icon-box-group.style-2 .icon-box-item .icon-box-content .box-icon i {
    width: 60px;
}

.elementor-33 .elementor-element.elementor-element-f9fde13 .gsc-icon-box-group .icon-box-content .icon-inner {
    padding-bottom: 0;
}

.elementor-33 .elementor-element.elementor-element-f9fde13 .gsc-icon-box-group .icon-box-content .title {
    padding-bottom: 5px;
}

.elementor-33 .elementor-element.elementor-element-9a4c084 {
    padding: 90px 0 0;
}

.elementor-bc-flex-widget .elementor-33 .elementor-element.elementor-element-78858a8.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-33 .elementor-element.elementor-element-78858a8.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-33 .elementor-element.elementor-element-78858a8>.elementor-element-populated {
    padding: 0 15px;
}

.elementor-33 .elementor-element.elementor-element-0aeae5d .gsc-heading .content-inner {
    max-width: 600px;
}

.elementor-33 .elementor-element.elementor-element-0aeae5d .gsc-heading {
    margin-bottom: 10px;
}

.elementor-33 .elementor-element.elementor-element-0aeae5d .gsc-heading .title {
    margin-bottom: 0;
}

.elementor-33 .elementor-element.elementor-element-0aeae5d .gsc-heading .sub-title {
    margin-bottom: 8px;
}

.elementor-33 .elementor-element.elementor-element-0aeae5d .gsc-heading .title-desc {
    padding: 20px 0 0;
}

.elementor-33 .elementor-element.elementor-element-1117152 {
    padding: 90px 0 120px;
}

.elementor-bc-flex-widget .elementor-33 .elementor-element.elementor-element-ee84416.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-33 .elementor-element.elementor-element-ee84416.elementor-column.elementor-element[data-element_type="column"]>.elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-33 .elementor-element.elementor-element-ee84416:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-33 .elementor-element.elementor-element-ee84416>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("/wp-content/uploads/2023/12/image-08.jpg");
    /* gm image */
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-33 .elementor-element.elementor-element-ee84416>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 0 0 0 15px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 15px;
    padding: 0 15px;
}

.elementor-33 .elementor-element.elementor-element-ee84416>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-33 .elementor-element.elementor-element-44eba05.elementor-view-stacked .elementor-icon {
    background-color: #fff;
}

.elementor-33 .elementor-element.elementor-element-44eba05.elementor-view-framed .elementor-icon,
.elementor-33 .elementor-element.elementor-element-44eba05.elementor-view-default .elementor-icon {
    fill: #fff;
    color: #fff;
    border-color: #fff;
}

.elementor-33 .elementor-element.elementor-element-44eba05 {
    --icon-box-icon-margin: 20px;
    width: var(--container-widget-width, 350px);
    max-width: 350px;
    --container-widget-width: 350px;
    --container-widget-flex-grow: 0;
    top: 60px;
}

.elementor-33 .elementor-element.elementor-element-44eba05 .elementor-icon {
    font-size: 52px;
}

.elementor-33 .elementor-element.elementor-element-44eba05 .elementor-icon-box-title {
    margin-bottom: 15px;
    color: #fff;
}

.elementor-33 .elementor-element.elementor-element-44eba05 .elementor-icon-box-title,
.elementor-33 .elementor-element.elementor-element-44eba05 .elementor-icon-box-title a {
    font-size: 20px;
}

.elementor-33 .elementor-element.elementor-element-44eba05 .elementor-icon-box-description {
    color: #cbcbcb;
}

.elementor-33 .elementor-element.elementor-element-44eba05>.elementor-widget-container {
    padding: 30px;
    background-color: var(--e-global-color-d78bc54);
}

body:not(.rtl) .elementor-33 .elementor-element.elementor-element-44eba05 {
    right: -60px;
}

body.rtl .elementor-33 .elementor-element.elementor-element-44eba05 {
    left: -60px;
}

.elementor-33 .elementor-element.elementor-element-18e6154 {
    --spacer-size: 360px;
}

.elementor-33 .elementor-element.elementor-element-916d17b>.elementor-element-populated {
    padding: 0 15px 0 125px;
}

.elementor-33 .elementor-element.elementor-element-c2314e9 .gsc-heading .content-inner {
    max-width: 800px;
}

.elementor-33 .elementor-element.elementor-element-c2314e9 .gsc-heading {
    margin-bottom: 16px;
}

.elementor-33 .elementor-element.elementor-element-c2314e9 .gsc-heading .title {
    margin-bottom: 0;
}

.elementor-33 .elementor-element.elementor-element-c2314e9 .gsc-heading .sub-title {
    margin-bottom: 8px;
}

.elementor-33 .elementor-element.elementor-element-c2314e9 .gsc-heading .title-desc {
    padding: 20px 0 0;
}

.elementor-33 .elementor-element.elementor-element-1eaf7a9.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-primary);
    fill: #fff;
    color: #fff;
}

.elementor-33 .elementor-element.elementor-element-1eaf7a9.elementor-view-framed .elementor-icon,
.elementor-33 .elementor-element.elementor-element-1eaf7a9.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-primary);
    color: var(--e-global-color-primary);
    border-color: var(--e-global-color-primary);
}

.elementor-33 .elementor-element.elementor-element-1eaf7a9.elementor-view-framed .elementor-icon {
    background-color: #fff;
}

.elementor-33 .elementor-element.elementor-element-1eaf7a9 {
    --icon-box-icon-margin: 20px;
}

.elementor-33 .elementor-element.elementor-element-1eaf7a9 .elementor-icon {
    font-size: 24px;
}

.elementor-33 .elementor-element.elementor-element-1eaf7a9 .elementor-icon-box-title,
.elementor-33 .elementor-element.elementor-element-1eaf7a9 .elementor-icon-box-title a {
    font-size: 18px;
}

.elementor-33 .elementor-element.elementor-element-1eaf7a9>.elementor-widget-container {
    margin: 0 0 10px;
}

.elementor-33 .elementor-element.elementor-element-6b8882a.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-primary);
    fill: #fff;
    color: #fff;
}

.elementor-33 .elementor-element.elementor-element-6b8882a.elementor-view-framed .elementor-icon,
.elementor-33 .elementor-element.elementor-element-6b8882a.elementor-view-default .elementor-icon {
    fill: var(--e-global-color-primary);
    color: var(--e-global-color-primary);
    border-color: var(--e-global-color-primary);
}

.elementor-33 .elementor-element.elementor-element-6b8882a.elementor-view-framed .elementor-icon {
    background-color: #fff;
}

.elementor-33 .elementor-element.elementor-element-6b8882a {
    --icon-box-icon-margin: 20px;
}

.elementor-33 .elementor-element.elementor-element-6b8882a .elementor-icon {
    font-size: 24px;
}

.elementor-33 .elementor-element.elementor-element-6b8882a .elementor-icon-box-title,
.elementor-33 .elementor-element.elementor-element-6b8882a .elementor-icon-box-title a {
    font-size: 18px;
}

.elementor-33 .elementor-element.elementor-element-6252e36 .elementor-progress-bar {
    height: 12px;
    line-height: 12px;
}

.elementor-33 .elementor-element.elementor-element-6252e36 .elementor-title {
    color: var(--e-global-color-secondary);
    font-family: "Titillium Web", Sans-serif;
}

.elementor-33 .elementor-element.elementor-element-6252e36>.elementor-widget-container {
    margin: 0 0 20px;
}

.elementor-33 .elementor-element.elementor-element-49c443d>.elementor-widget-container {
    margin: 0 30px 0 0;
}

.elementor-33 .elementor-element.elementor-element-49c443d {
    width: auto;
    max-width: auto;
}

.elementor-33 .elementor-element.elementor-element-d92355e>.elementor-widget-container {
    margin: 8px 0 0;
}

.elementor-33 .elementor-element.elementor-element-d92355e {
    width: auto;
    max-width: auto;
}

.elementor-33 .elementor-element.elementor-element-f59a6f4:not(.elementor-motion-effects-element-type-background),
.elementor-33 .elementor-element.elementor-element-f59a6f4>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-primary);
}

.elementor-33 .elementor-element.elementor-element-f59a6f4 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 60px 0;
}

.elementor-33 .elementor-element.elementor-element-f59a6f4>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-33 .elementor-element.elementor-element-0307d7b>.elementor-element-populated {
    padding: 0 15px;
}

.elementor-33 .elementor-element.elementor-element-6820d53.elementor-view-stacked .elementor-icon {
    background-color: #fff;
}

.elementor-33 .elementor-element.elementor-element-6820d53.elementor-view-framed .elementor-icon,
.elementor-33 .elementor-element.elementor-element-6820d53.elementor-view-default .elementor-icon {
    fill: #fff;
    color: #fff;
    border-color: #fff;
}

.elementor-33 .elementor-element.elementor-element-6820d53 {
    --icon-box-icon-margin: 25px;
}

.elementor-33 .elementor-element.elementor-element-6820d53 .elementor-icon {
    font-size: 64px;
}

.elementor-33 .elementor-element.elementor-element-6820d53 .elementor-icon-box-title {
    margin-bottom: 3px;
    color: #f0eeee;
}

.elementor-33 .elementor-element.elementor-element-6820d53 .elementor-icon-box-title,
.elementor-33 .elementor-element.elementor-element-6820d53 .elementor-icon-box-title a {
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 2px;
}

.elementor-33 .elementor-element.elementor-element-6820d53 .elementor-icon-box-description {
    color: #fff;
    font-size: 34px;
    font-weight: 700;
    line-height: 42px;
}

.elementor-33 .elementor-element.elementor-element-5658907.elementor-column>.elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-33 .elementor-element.elementor-element-5658907>.elementor-element-populated {
    padding: 0 15px;
}

.elementor-33 .elementor-element.elementor-element-3340e21 {
    width: auto;
    max-width: auto;
}

@media (min-width: 768px) {
    .elementor-33 .elementor-element.elementor-element-ee84416 {
        width: 42%;
    }

    .elementor-33 .elementor-element.elementor-element-916d17b {
        width: 58%;
    }

    .elementor-33 .elementor-element.elementor-element-0307d7b {
        width: 72.917%;
    }

    .elementor-33 .elementor-element.elementor-element-5658907 {
        width: 27%;
    }
}

@media (max-width: 1024px) {
    .elementor-33 .elementor-element.elementor-element-2fee724 {
        padding: 76px 0 180px;
    }

    .elementor-33 .elementor-element.elementor-element-26c2dc9 .gsc-heading .title {
        font-size: 50px;
    }

    .elementor-33 .elementor-element.elementor-element-26c2dc9 .gsc-heading .title-desc {
        font-size: 18px;
        line-height: 28px;
        padding: 0;
    }

    .elementor-33 .elementor-element.elementor-element-9a4c084 {
        padding: 50px 0 0;
    }

    .elementor-33 .elementor-element.elementor-element-1117152 {
        padding: 50px 0 80px;
    }

    .elementor-33 .elementor-element.elementor-element-44eba05>.elementor-widget-container {
        padding: 20px 15px;
    }

    .elementor-33 .elementor-element.elementor-element-44eba05 {
        --container-widget-width: 280px;
        --container-widget-flex-grow: 0;
        width: var(--container-widget-width, 280px);
        max-width: 280px;
    }

    body:not(.rtl) .elementor-33 .elementor-element.elementor-element-44eba05 {
        right: -20px;
    }

    body.rtl .elementor-33 .elementor-element.elementor-element-44eba05 {
        left: -20px;
    }

    .elementor-33 .elementor-element.elementor-element-916d17b>.elementor-element-populated {
        padding: 0 15px 0 45px;
    }

    .elementor-33 .elementor-element.elementor-element-1eaf7a9>.elementor-widget-container {
        margin: 0;
    }

    .elementor-33 .elementor-element.elementor-element-6252e36>.elementor-widget-container {
        margin: 0;
    }

    .elementor-33 .elementor-element.elementor-element-d92355e>.elementor-widget-container {
        margin: 12px 16px 0 0;
    }

    .elementor-33 .elementor-element.elementor-element-6820d53 {
        --icon-box-icon-margin: 20px;
    }

    .elementor-33 .elementor-element.elementor-element-6820d53 .elementor-icon {
        font-size: 50px;
    }

    .elementor-33 .elementor-element.elementor-element-6820d53 .elementor-icon-box-title {
        margin-bottom: 0;
    }

    .elementor-33 .elementor-element.elementor-element-6820d53 .elementor-icon-box-description {
        font-size: 24px;
        line-height: 32px;
    }
}

@media (max-width: 767px) {
    .elementor-33 .elementor-element.elementor-element-26c2dc9 .gsc-heading .title {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .elementor-33 .elementor-element.elementor-element-ee84416>.elementor-element-populated {
        margin: 0 15px;
        --e-column-margin-right: 15px;
        --e-column-margin-left: 15px;
    }

    .elementor-33 .elementor-element.elementor-element-44eba05 {
        --container-widget-width: 180px;
        --container-widget-flex-grow: 0;
        width: var(--container-widget-width, 180px);
        max-width: 180px;
        top: 15px;
    }

    body:not(.rtl) .elementor-33 .elementor-element.elementor-element-44eba05 {
        right: 15px;
    }

    body.rtl .elementor-33 .elementor-element.elementor-element-44eba05 {
        left: 15px;
    }

    .elementor-33 .elementor-element.elementor-element-916d17b>.elementor-element-populated {
        padding: 50px 15px 0;
    }

    .elementor-33 .elementor-element.elementor-element-f59a6f4 {
        padding: 40px 0;
    }

    .elementor-33 .elementor-element.elementor-element-5658907.elementor-column>.elementor-widget-wrap {
        justify-content: flex-start;
    }

    .elementor-33 .elementor-element.elementor-element-5658907>.elementor-element-populated {
        margin: 20px 0 0;
        --e-column-margin-right: 0px;
        --e-column-margin-left: 0px;
    }
}