.elementor-30
  .elementor-element.elementor-element-d98a98b
  > .elementor-element-populated {
  padding: 0;
}
.elementor-30 .elementor-element.elementor-element-c060d28 .custom-breadcrumb {
  background-color: #fff;
  height: 600px;
}
.elementor-30
  .elementor-element.elementor-element-c060d28
  .custom-breadcrumb
  .breadcrumb-overlay {
  background-color: #070c1eb3;
}
.elementor-30
  .elementor-element.elementor-element-c060d28
  .custom-breadcrumb
  .heading-title {
  color: #fff;
}
.elementor-30
  .elementor-element.elementor-element-ce6dba8:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-30
  .elementor-element.elementor-element-ce6dba8
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-position: top left;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-30
  .elementor-element.elementor-element-ce6dba8
  > .elementor-background-overlay {
  background-position: bottom left;
  background-repeat: no-repeat;
  opacity: 1;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-30 .elementor-element.elementor-element-ce6dba8 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 120px 0;
}
.elementor-30
  .elementor-element.elementor-element-3b6d25a
  > .elementor-element-populated {
  padding: 0 15px;
}
.elementor-30
  .elementor-element.elementor-element-7046b2e
  > .elementor-widget-container {
  padding: 60px;
  background-color: #fff;
  border-style: none;
}
.elementor-bc-flex-widget
  .elementor-30
  .elementor-element.elementor-element-f62713a.elementor-column
  .elementor-widget-wrap {
  align-items: center;
}
.elementor-30
  .elementor-element.elementor-element-f62713a.elementor-column.elementor-element[data-element_type="column"]
  > .elementor-widget-wrap.elementor-element-populated {
  align-content: center;
  align-items: center;
}
.elementor-30
  .elementor-element.elementor-element-f62713a
  > .elementor-widget-wrap
  > .elementor-widget:not(.elementor-widget__width-auto):not(
    .elementor-widget__width-initial
  ):not(:last-child):not(.elementor-absolute) {
  margin-bottom: 0;
}
.elementor-30
  .elementor-element.elementor-element-f62713a
  > .elementor-element-populated {
  padding: 0 15px 0 45px;
}
.elementor-30
  .elementor-element.elementor-element-d8d863d
  .gsc-heading
  .content-inner {
  max-width: 800px;
}
.elementor-30 .elementor-element.elementor-element-d8d863d .gsc-heading .title {
  font-size: 45px;
  margin-bottom: 6px;
}
.elementor-30
  .elementor-element.elementor-element-d8d863d
  .gsc-heading
  .sub-title {
  margin-bottom: 8px;
}
.elementor-30
  .elementor-element.elementor-element-d8d863d
  .gsc-heading
  .title-desc {
  padding: 20px 0 0;
}
.elementor-30
  .elementor-element.elementor-element-c85189a
  .elementor-icon-box-wrapper {
  text-align: left;
}
.elementor-30
  .elementor-element.elementor-element-c85189a.elementor-view-stacked
  .elementor-icon {
  background-color: var(--e-global-color-primary);
  fill: #fff;
  color: #fff;
}
.elementor-30
  .elementor-element.elementor-element-c85189a.elementor-view-framed
  .elementor-icon,
.elementor-30
  .elementor-element.elementor-element-c85189a.elementor-view-default
  .elementor-icon {
  fill: var(--e-global-color-primary);
  color: var(--e-global-color-primary);
  border-color: var(--e-global-color-primary);
}
.elementor-30
  .elementor-element.elementor-element-c85189a.elementor-view-framed
  .elementor-icon {
  background-color: #fff;
}
.elementor-30 .elementor-element.elementor-element-c85189a {
  --icon-box-icon-margin: 15px;
}
.elementor-30 .elementor-element.elementor-element-c85189a .elementor-icon {
  font-size: 20px;
  padding: 14px;
  border-radius: 50px;
}
.elementor-30
  .elementor-element.elementor-element-c85189a
  .elementor-icon-box-title {
  margin-bottom: 0;
}
.elementor-30
  .elementor-element.elementor-element-c85189a
  .elementor-icon-box-title,
.elementor-30
  .elementor-element.elementor-element-c85189a
  .elementor-icon-box-title
  a {
  font-size: 16px;
  letter-spacing: 0.56px;
}
.elementor-30
  .elementor-element.elementor-element-c85189a
  .elementor-icon-box-description {
  font-weight: 500;
}
.elementor-30
  .elementor-element.elementor-element-c85189a
  > .elementor-widget-container {
  margin: 0 0 30px;
}
.elementor-30
  .elementor-element.elementor-element-9753a56
  .elementor-icon-box-wrapper {
  text-align: left;
}
.elementor-30
  .elementor-element.elementor-element-9753a56.elementor-view-stacked
  .elementor-icon {
  background-color: var(--e-global-color-primary);
  fill: #fff;
  color: #fff;
}
.elementor-30
  .elementor-element.elementor-element-9753a56.elementor-view-framed
  .elementor-icon,
.elementor-30
  .elementor-element.elementor-element-9753a56.elementor-view-default
  .elementor-icon {
  fill: var(--e-global-color-primary);
  color: var(--e-global-color-primary);
  border-color: var(--e-global-color-primary);
}
.elementor-30
  .elementor-element.elementor-element-9753a56.elementor-view-framed
  .elementor-icon {
  background-color: #fff;
}
.elementor-30 .elementor-element.elementor-element-9753a56 {
  --icon-box-icon-margin: 15px;
}
.elementor-30 .elementor-element.elementor-element-9753a56 .elementor-icon {
  font-size: 20px;
  padding: 14px;
  border-radius: 50px;
}
.elementor-30
  .elementor-element.elementor-element-9753a56
  .elementor-icon-box-title {
  margin-bottom: 0;
}
.elementor-30
  .elementor-element.elementor-element-9753a56
  .elementor-icon-box-title,
.elementor-30
  .elementor-element.elementor-element-9753a56
  .elementor-icon-box-title
  a {
  font-size: 16px;
  letter-spacing: 0.56px;
}
.elementor-30
  .elementor-element.elementor-element-9753a56
  .elementor-icon-box-description {
  font-weight: 500;
}
.elementor-30
  .elementor-element.elementor-element-9753a56
  > .elementor-widget-container {
  margin: 0 0 30px;
}
.elementor-30
  .elementor-element.elementor-element-c1457e2
  .elementor-icon-box-wrapper {
  text-align: left;
}
.elementor-30
  .elementor-element.elementor-element-c1457e2.elementor-view-stacked
  .elementor-icon {
  background-color: var(--e-global-color-primary);
  fill: #fff;
  color: #fff;
}
.elementor-30
  .elementor-element.elementor-element-c1457e2.elementor-view-framed
  .elementor-icon,
.elementor-30
  .elementor-element.elementor-element-c1457e2.elementor-view-default
  .elementor-icon {
  fill: var(--e-global-color-primary);
  color: var(--e-global-color-primary);
  border-color: var(--e-global-color-primary);
}
.elementor-30
  .elementor-element.elementor-element-c1457e2.elementor-view-framed
  .elementor-icon {
  background-color: #fff;
}
.elementor-30 .elementor-element.elementor-element-c1457e2 {
  --icon-box-icon-margin: 15px;
}
.elementor-30 .elementor-element.elementor-element-c1457e2 .elementor-icon {
  font-size: 20px;
  padding: 14px;
  border-radius: 50px;
}
.elementor-30
  .elementor-element.elementor-element-c1457e2
  .elementor-icon-box-title {
  margin-bottom: 0;
}
.elementor-30
  .elementor-element.elementor-element-c1457e2
  .elementor-icon-box-title,
.elementor-30
  .elementor-element.elementor-element-c1457e2
  .elementor-icon-box-title
  a {
  font-size: 16px;
  letter-spacing: 0.56px;
}
.elementor-30
  .elementor-element.elementor-element-c1457e2
  .elementor-icon-box-description {
  font-weight: 500;
}
.elementor-30
  .elementor-element.elementor-element-c1457e2
  > .elementor-widget-container {
  margin: 0 0 30px;
}
.elementor-30
  .elementor-element.elementor-element-a889de6.elementor-position-right
  .elementor-image-box-img {
  margin-left: 10px;
}
.elementor-30
  .elementor-element.elementor-element-a889de6.elementor-position-left
  .elementor-image-box-img {
  margin-right: 10px;
}
.elementor-30
  .elementor-element.elementor-element-a889de6.elementor-position-top
  .elementor-image-box-img {
  margin-bottom: 10px;
}
.elementor-30
  .elementor-element.elementor-element-a889de6
  .elementor-image-box-wrapper
  .elementor-image-box-img {
  width: 45%;
}
.elementor-30
  .elementor-element.elementor-element-a889de6
  .elementor-image-box-img
  img {
  transition-duration: 0.3s;
}
.elementor-30
  .elementor-element.elementor-element-a889de6
  .elementor-image-box-title {
  margin-bottom: 0;
  color: var(--e-global-color-text);
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.3px;
}
.elementor-30
  .elementor-element.elementor-element-a889de6
  > .elementor-widget-container {
  padding: 30px;
  background-color: #fff;
  border-style: solid;
  border-width: 0 0 0 6px;
  border-color: var(--e-global-color-primary);
}
.elementor-30
  .elementor-element.elementor-element-1a33cd2
  > .elementor-container {
  max-width: 1065px;
}
.elementor-30 .elementor-element.elementor-element-1a33cd2 {
  margin-top: 0;
  margin-bottom: -70px;
}
.elementor-30
  .elementor-element.elementor-element-2bc5c36.elementor-column
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-30
  .elementor-element.elementor-element-2bc5c36
  > .elementor-element-populated {
  padding: 0 15px;
}
.elementor-30 .elementor-element.elementor-element-96c70a3 {
  width: var(--container-widget-width, 275px);
  max-width: 275px;
  --container-widget-width: 275px;
  --container-widget-flex-grow: 0;
}
.elementor-30
  .elementor-element.elementor-element-e2ae6c0.elementor-column
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-30
  .elementor-element.elementor-element-e2ae6c0
  > .elementor-element-populated {
  padding: 0 15px;
}
.elementor-30 .elementor-element.elementor-element-8965642 {
  width: var(--container-widget-width, 275px);
  max-width: 275px;
  --container-widget-width: 275px;
  --container-widget-flex-grow: 0;
}
.elementor-30
  .elementor-element.elementor-element-2a97f21.elementor-column
  > .elementor-widget-wrap {
  justify-content: center;
}
.elementor-30
  .elementor-element.elementor-element-2a97f21
  > .elementor-element-populated {
  padding: 0 15px;
}
.elementor-30 .elementor-element.elementor-element-ab1c577 {
  width: var(--container-widget-width, 275px);
  max-width: 275px;
  --container-widget-width: 275px;
  --container-widget-flex-grow: 0;
}
.elementor-30 .elementor-element.elementor-element-e408315 {
  z-index: 1;
}
.elementor-30
  .elementor-element.elementor-element-3e5a49d
  > .elementor-element-populated {
  padding: 0;
}
.elementor-30 .elementor-element.elementor-element-ce17275 iframe {
  height: 517px;
}
@media (max-width: 1024px) {
  .elementor-30 .elementor-element.elementor-element-ce6dba8 {
    padding: 80px 0;
  }
  .elementor-30
    .elementor-element.elementor-element-7046b2e
    > .elementor-widget-container {
    padding: 30px;
  }
  .elementor-30
    .elementor-element.elementor-element-f62713a
    > .elementor-element-populated {
    padding: 0 15px;
  }
  .elementor-30
    .elementor-element.elementor-element-d8d863d
    .gsc-heading
    .title {
    font-size: 32px;
  }
  .elementor-30
    .elementor-element.elementor-element-a889de6
    > .elementor-widget-container {
    margin: 30px 0 0;
  }
}
@media (max-width: 767px) {
  .elementor-30
    .elementor-element.elementor-element-ce6dba8
    > .elementor-background-overlay {
    opacity: 0.4;
  }
  .elementor-30
    .elementor-element.elementor-element-3b6d25a
    > .elementor-element-populated {
    margin: 0 0 60px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
  }
  .elementor-30
    .elementor-element.elementor-element-c85189a
    .elementor-icon-box-description {
    font-size: 16px;
    line-height: 22px;
  }
  .elementor-30
    .elementor-element.elementor-element-9753a56
    .elementor-icon-box-description {
    font-size: 16px;
    line-height: 22px;
  }
  .elementor-30
    .elementor-element.elementor-element-c1457e2
    .elementor-icon-box-description {
    font-size: 16px;
    line-height: 22px;
  }
  .elementor-30
    .elementor-element.elementor-element-a889de6
    .elementor-image-box-img {
    margin-bottom: 10px;
  }
  .elementor-30 .elementor-element.elementor-element-1a33cd2 {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .elementor-30
    .elementor-element.elementor-element-96c70a3
    > .elementor-widget-container {
    margin: 0 0 20px;
  }
  .elementor-30
    .elementor-element.elementor-element-8965642
    > .elementor-widget-container {
    margin: 0 0 20px;
  }
}
